/*General CSS for body of page*/
html{
    height: 100%;
    width: 100%;
}
body {
	font-family:Amatic SC;
	color: rgb(105,105,105);
	background: url(./Images/pat.png) no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*CSS for footer*/
footer{
	background-color:white;
	font-family: Open Sans Condensed;
	font-weight:bold;
	font-size: 15px;
	padding:10px;
}

/*Styling for Lines/Separation Lines*/
hr {
	size:5px;
	width:100%;
	color:#F6B497;
}

/*Links*/
a {
	text-decoration: none;
}
a:hover {
	color:#F6B497;
	font-style:italic;
}

/*Main portion of website*/
.content {
	background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,.8);
    margin-right:20px;
    margin-left:20px;
    padding:20px;
}

/*Navigation Bar*/
.nav {
	display:inline;
	font-family: Open Sans Condensed;
	font-size: 20px;
	font-weight:bold;
}

/*Title of sections*/
.title {
	font-family:Dancing Script;
	font-size: 40px;
	color: rgb(105,105,105);
}

/*Text of sections*/
.text {
	font-family:Open Sans Condensed;
	font-size: 20px;
	color: black;
}

/*Project Section*/
.project {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

/*Icons to display the project section*/
.projectIcon{
	height:20%;
}

/*Picture that is within the Modals/Pop Ups*/
.modPic {
	width:100%;
}

/*Content of the Modal/Pop Up*/
.modal-content {
	font-family:Open Sans Condensed;
	font-size:18px;
}

/*Text for Why Me Section*/
.big {
	font-size:40px;
	font-weight: bold;
	font-family:Amatic SC;
	display:inline;
}

/*Iframe to display resume*/
iframe {
	width:80%;
	height:50%;
}

/*Icon Bar and icons for "Contact Me" Section*/
.iconBar {
	float:none;
	display:inline;

}
.icon {
	width:10%;
	/*height:80px;*/
	vertical-align: middle;
}